extends /layout
block css
    link(rel='stylesheet',href="/s/task/detail.css")
block js
    script.
        var taskId='#{_id}';seajs.use('s/task/detail/init')
block content
    #sidebar
        include /sidebar-avatar-menu
        ul.menu
            li
                a(href="/task/add-task") 发放需求
            li
                a(href="/task/own-task-list") 我添加的需求
            li
                a(href="search-task") 搜索需求
    #main-container-wrapper
        #main-container-container
            #main-container-content
                h2 名称：
                    =task['需求名称']
                ul.task-info
                    li(style='margin-bottom:12px;') 需求方：#{task['需求方']}
                    -Object.keys(task).forEach(function(key){
                        -if(key!=='需求名称' && key!=='需求方' && key!=='设计师id' && task[key]){
                            li #{key}： #{task[key]}
                        -}
                    -})
                //.time-part-wrapper
                    .time-part-content
                        h3 时间规划
                        .time-part
                            .design
                            .front
                .task-record-wrapper
                    .task-record-content
                        h2 需求变更记录
                        - var date=new Date(ts)
                        ul.record
                            li #{date.getFullYear()}.#{timerZeros(date.getMonth()+1)}.#{timerZeros(date.getDate())}
                                | #{timerZeros(date.getHours())}:#{timerZeros(date.getMinutes())}:#{timerZeros(date.getSeconds())} 完成需求提交
                            -if(Array.isArray(history))
                                -history.forEach(function(item){
                                    -var date=new Date(item.ts)
                                    li
                                        | #{date.getFullYear()}.#{timerZeros(date.getMonth()+1)}.#{timerZeros(date.getDate())}
                                        | #{timerZeros(date.getHours())}:#{timerZeros(date.getMinutes())}:#{timerZeros(date.getSeconds())}
                                        -if(item.type==='修改字段')
                                            |  #{item.from_user}将#{item.name}设置为#{item.modify_plain_value?item.modify_plain_value:item.modify_value}
                                        -if(item.type==='上传附件')
                                            |  #{item.from_user}上传了附件<a href="/read/#{item.file_id}" data-file-id='#{item.file_id}'>#{item.file_name}</a>
                                -})
                        form(action="/save/task-ps-file",method='post',enctype="multipart/form-data",target='task-ps-file-iframe')
                            input(type='hidden',name='_csrf',value='#{token}')
                            input(type='hidden',name='callBackName',value='taskFileUploadCallBack')
                            p.upload-file
                                label.upload-file-trigger(for='upload-file') 选择文件（50Mb以内）
                                    input#upload-file(type='file',name="file",value="",style='font-size:12px;')
                            p
                                input.btn.btn-confirm(type='submit',value='上传')
                        iframe(name='task-ps-file-iframe',width='0',height='0',style='position:absolute;left:-9999em;top:-9999em;')
                -if(task['设计师']===undefined)
                    .J-push.push
                        h2 该任务分配给
                        .btn-area.J-select-user
                        a.btn.btn-confirm.J-confirm-user 确认选择
