extends /layout
block css
    link(rel='stylesheet',href="/s/task/own-task-list.css")
block js
    script.
        seajs.use('/s/global/preview-image.js')
block content
    #sidebar
        include /sidebar-avatar-menu
        include /sidebar-menu
    #main-container-wrapper
        #main-container-container
            #main-container-content
                h2 最近30天的需求
                -if (docs.length>0)
                    .table-wrapper
                        .table-content
                            table.task-list.task-list-normal
                                tr
                                    th(width="40%")
                                        .wrapper 需求名称
                                    th(width="10%")
                                        .wrapper 提交者
                                    th(width="10%")
                                        .wrapper 需求方
                                    th(width="40%")
                                        .wrapper 最新状况
                                - docs.forEach(function(item){
                                    tr
                                        td
                                            .wrapper
                                                a.link(href='/task/detail/#{item._id}') #{item.task['需求名称']}
                                        td
                                            .wrapper=item['from_user']
                                        td
                                            .wrapper=item.task['需求方']
                                        td
                                            .wrapper
                                                -if(Array.isArray(item.history))
                                                    -var history=item.history[item.history.length-1]
                                                    -if(history.type==='修改字段')
                                                        | #{history.name}被设定为#{history.modify_plain_value?history.modify_plain_value:history.modify_value}
                                                    -if(history.type==='上传附件')
                                                        | #{history.from_user}上传了附件<a class="J-preview-file file" href="/read/#{history.file_id}?m=full-size" download="#{history.file_name}" data-file-id='#{history.file_id}'>
                                                        -if(/(?:jpg|gif|jpeg|png)$/gi.test(history.file_id))
                                                            | 预览：
                                                        | #{history.file_name}</a>
                                                        | &nbsp | <a target="_blank" class="file" href="/read/#{history.file_id}?m=origin" download="#{history.file_name}">下载</a>
                                                -else
                                                    | 尚未处理
                                - })
                - else
                    p(style="margin:12px 0;") 您暂无需求提交记录
